::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,#6fa700,#6fa700,#6fa700,transparent);
}
::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(#6fa700,#6fa700,transparent,#6fa700,#6fa700);
    border-radius: 5px;
}

body {
    color: #6fa700;
    background-color: #fefefe;
    background-image: url(./file/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 123px;
    background-size: cover;
    overflow-x: hidden; 
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#banner1 {
    display: block;
    background-color: #fefefe;
    height: 51px;
    width: 100%;
}
#banner1 p {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    top: 10px;
    margin: 0;
    text-align: center;
}
nav {
    min-width: 500px;
    width: 100%;
    height: 50px;
    position: relative;
    font-weight: bold;
    background-color: #6fa700;
}

.liste-items {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none; 
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.liste-items a {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items a:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.items {
    cursor: pointer;
    text-align: center;
    margin: 0 20px;
    flex-shrink: 0;
    color: #fefefe;
    background: #6fa700; 
    width: 150px;
}
.items:hover {
    cursor: pointer;
    text-align: center;
    margin: 0 20px;
    flex-shrink: 0;
    color: #6fa700;
    background: #fefefe;
    width: 150px;
}
.items a {
    color: #fefefe;
    background: #6fa700; 
}
.items a:hover {
    color: #6fa700;
    background: #fefefe;
}
.items span {
    font-size: 17px;
}
.items:nth-child(3) {
    margin-left: 0;
}

/* Sous Liste /*/

.sous-liste {
    position: relative;
    top: -4px;
    display: none;
}

.items-sous-liste {
    list-style-type: none;
    text-align: left;
    padding: 0 5px;
    color: #fefefe;
    background: #6fa700;
    width: 265px;
}

.items-sous-liste:hover {
    list-style-type: none;
    text-align: left;
    padding: 0 10px;
    background: #fefefe;
    color: #6fa700;
    width: 265px;
}
.items-sous-liste:nth-child(3) {
    height: 50px;
}

.items:hover > ul {
    display: block;
}

/* Sous liste 2 */

.sous-liste2 {
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    background: #fefefe;
    color: #6fa700;
    display: none;
}
.sous-liste2:hover {
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    background: #6fa700;
    color: #fefefe;
    display: none;
}
.items-sous-liste2 {
    background: #6fa700;
    color: #fefefe;
}
.items-sous-liste2:hover {
    background: #fefefe;
    color: #6fa700;
}

.items > ul > .items-sous-liste:hover > ul {
    display: block;
}

/*liste item 2*/

.liste-items-2 {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none; 
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items-2:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.liste-items-2 a {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items-2 a:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.items-2 {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #fefefe;
    background: #6fa700; 
    width: 280px;
}
.items-2:hover {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #6fa700;
    background: #fefefe;
    width: 290px;
}
.items-2 a {
    color: #fefefe;
    background: #6fa700; 
}
.items-2 a:hover {
    color: #6fa700;
    background: #fefefe;
}
.items-2 span {
    font-size: 17px;
}
.items-2:nth-child(3) {
    margin-left: 0;
}

/*liste item 3*/

.liste-items-3 {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none; 
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items-3:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.liste-items-3 a {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    }
.liste-items-3 a:hover {
    display: flex;
    justify-content: center;
    color: #6fa700;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    font-size: 24px;
}

.items-3 {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #fefefe;
    background: #6fa700; 
    width: 280px;
}
.items-3:hover {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #6fa700;
    background: #fefefe;
    width: 290px;
}
.items-3 a {
    color: #fefefe;
    background: #6fa700; 
}
.items-3 a:hover {
    color: #6fa700;
    background: #fefefe;
}
.items-3 span {
    font-size: 17px;
}
.items-3:nth-child(3) {
    margin-left: 0;
}

/* Sous Liste /*/

.sous-liste {
    position: relative;
    top: -4px;
    display: none;
}

.items-sous-liste {
    list-style-type: none;
    text-align: left;
    padding: 0 5px;
    color: #fefefe;
    background: #6fa700;
    width: 265px;
}

.items-sous-liste:hover {
    list-style-type: none;
    text-align: left;
    padding: 0 10px;
    background: #fefefe;
    color: #6fa700;
    width: 265px;
}
.items-sous-liste:nth-child(3) {
    height: 50px;
}

.items:hover > ul {
    display: block;
}


#contenuprincipal {
    color: #fefefe;
}

h1 {
    color: #fefefe;
    position: relative;
    left: 25px;  
}

#footer {
    text-align: center;
    display: block;
    background-color: #6fa700;
    height: 100px;
}

#footer p {
    color: #fefefe;
    font-weight: bold;
    position: relative;
    top: 23px;
}