::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,#6fa700,#6fa700,#6fa700,transparent);
}
::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(#6fa700,#6fa700,transparent,#6fa700,#6fa700);
    border-radius: 5px;
}

body {
    color: #6fa700;
    background-color: #fefefe;
    background-image: url(./file/img/mont-st-michel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden; 
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#banner1 {
    background-color: rgba(250, 250, 250, 0.6);
    height: calc(51px + 22px);
    width: 100%;
    margin: 0px 0px -22px 0px;
}
#banner1 p {
    position: relative;
    top: -65px;
    left: 80px;
    font-size: 26px;
}

nav {
    min-width: 500px;
    width: 100%;
    height: 50px;
    position: relative;
    font-weight: bold;
    background-color: #6fa700;
}

.liste-items {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none; 
    height: 100%;
    line-height: 50px;
    font-size: 22px;
}
.liste-items:hover {
    color: #6fa700;
}

.liste-items a {
    display: flex;
    justify-content: center;
    color: #fefefe;
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
}
.liste-items a:hover {
    color: #6fa700;
}

.items {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #fefefe;
    background: #6fa700; 
    width: 180px;
}
.items:hover {
    cursor: pointer;
    text-align: center;
    margin: 0 0px;
    flex-shrink: 0;
    color: #6fa700;
    background: #fefefe;
    width: 180px;
}
.items a {
    color: #fefefe;
    background: #6fa700; 
}
.items a:hover {
    color: #6fa700;
    background: #fefefe;
}
.items span {
    font-size: 17px;
}
.items:nth-child(3) {
    margin-left: 0;
}

/* Sous Liste /*/

.items-sous-liste {
    list-style-type: none;
    text-align: center;
    color: #fefefe;
    background: #6fa700;
    width: 265px;
}

.items-sous-liste:hover {
    list-style-type: none;
    text-align: center;
    background: #fefefe;
    color: #6fa700;
    width: 265px;
    border-width: 3px;
    border-style: outset;
    border-color: #6fa700;
}
.items-sous-liste:nth-child(3) {
    height: 500px;
}

.items:hover > ul {
    display: block;
    left: 115px;
    top: -105px;
}

/* Sous Liste /*/

.sous-liste {
    z-index: 1000;
    position: relative;
    top: 0px;
    display: none;
}

.items-sous-liste {
    position: relative;
    top: 105px;
    left: -160px;
    list-style-type: none;
    text-align: center;
    padding: 0 0px;
    color: #fefefe;
    background: #6fa700;
    width: 265px;
}

.items-sous-liste:hover {
    background: #fefefe;
    color: #6fa700;
}
.items-sous-liste:nth-child(3) {
    height: 50px;
}

.items:hover > ul {
    display: block;
    left: 115px;
    top: -105px;
}

h1 {
    color: #fefefe;
    position: relative;
    font-size: 30px;
    left: 100px;
}
h2 {
    color: #fefefe;
    position: relative;
    left: 60px;
    text-decoration: underline;
    font-size: 30px;
}
h2 a {
    color: #fefefe;
    position: relative;
    text-decoration: underline;
    font-size: 30px;
    text-shadow:
	#6fa700 2px 2px,
	#6fa700 -2px 2px,
	#6fa700 -2px -2px,
	#6fa700 2px -2px;
}
h2 a:hover {
    color: #6fa700;
    position: relative;
    text-decoration: underline;
    font-size: 35px;
    text-shadow:
	#fefefe 2px 2px,
	#fefefe -2px 2px,
	#fefefe -2px -2px,
	#fefefe 2px -2px;
}
h3 {
    color: #fefefe;
    text-decoration: underline;
    text-shadow:
	#6fa700 2px 2px,
	#6fa700 -2px 2px,
	#6fa700 -2px -2px,
	#6fa700 2px -2px;
    font-size: 35px;
}
h4 {
    color: #fefefe;
    position: relative;
    left: 60px;
	text-shadow:
	#6fa700 1px 1px,
	#6fa700 -1px 1px,
	#6fa700 -1px -1px,
	#6fa700 1px -1px;
    font-size: 20px;
}

h5 {
    color: #fefefe;
    font-size: 30px;
}

#Twitch {
    position: relative;
    left: 60px;
}

#YouTube {
    position: relative;
    left: 20px;
}

#footer {
    text-align: center;
    display: block;
    background-color: #6fa700;
    height: auto;
    padding: 1px 0;
}

#footer p {
    color: #fefefe;
    font-weight: bold;
}

.dl_fichier {
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    color: #fefefe;
    background-color: #6fa700;
    position: relative;
    left: calc(50% - 200px);
    width: 300px;
    font-size: 22px;
    transition: 1s;
}
.dl_fichier i {
    color: #fefefe;
    padding: 0 10px 0 0;
    transition: 0.5s;
}
.dl_fichier:hover {
    color: #6fa700;
    background-color: #333;
}
.dl_fichier:hover i {
    color: #6fa700;
    padding: 0 20px 0 0;
}